body {
  margin: 0;
  background-image: url("imagenes/fondo.jpg");
  background-size: cover;
}

#my-canvas {
  background-color: darkgray;
  color: red;
  font-family: "Rye", cursive;
}

#start-btn,
#restart-btn, #Play-again {
  background-color: white;
  color: blueviolet;
  padding: 20px;
  font-size: 15px;
  margin-top: 40px;
  border-radius: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

#my-canvas,
#gameover-pantalla, #win-pantalla {
  display: none;
}

#pantalla-inicio img {
  
  border-image: 30px;

  filter: contrast(5);
  filter: drop-shadow(30px 30px 40px rgb(249, 3, 241));
  opacity: 1;
}

#counter {
  color: rgb(168, 168, 197);
  font-family: "Rye", cursive;
}
#instrucciones {
  font-family: "Rye", cursive;
  font-size: 15px;
  color: rgb(231, 247, 7);
  position: absolute;
  top:400px;
  left: 40px;

  border-radius: 20px;
  margin: 10px;
  text-decoration: underline;

  backdrop-filter: opacity(10%);
  filter: drop-shadow(70px 70px 80px rgb(249, 3, 241));
  
}
